.button {
  display: inline-block;
  padding: 0.5em 1em;
  background-color: var(--color-board);
  border-color: var(--color-board);
  border-radius: 0.2rem;
  border-width: 0.2rem;
  border-style: outset;
  color: #fff;
  text-decoration: none;
  font-size: 0.5em;
  font-weight: bold;
  cursor: pointer;
}

.button:focus {
  border-style: inset;
}
