:root {
  --color-T: hsl(14, 100%, 53%);
  --color-L: hsl(49, 100%, 49%);
  --color-J: hsl(148, 100%, 36%);
  --color-I: hsl(219, 100%, 69%);
  --color-O: hsl(266, 100%, 64%);
  --color-S: hsl(29, 100%, 50%);
  --color-Z: hsl(315, 100%, 65%);

  --color-board: hsl(0, 0%, 18%);
  --color-grid: hsl(0, 0%, 31%);

  --board-width: 10;
  --board-height: 23;
}

html,
body {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
